ui = true

listener "tcp" {
  address     = "0.0.0.0:8200"
  # TODO: enable TLS before using this outside a lab environment.
  tls_disable = 1
}

storage "raft" {
  path    = "/opt/vault/data"
  node_id = "{{ grains['id'] }}"

  {%- for peer in pillar.get('vault', {}).get('cluster_nodes', ['vault-1', 'vault-2', 'vault-3']) %}
  retry_join {
    leader_api_addr = "http://{{ peer }}:8200"
  }
  {%- endfor %}
}

{#- grains['fqdn_ip4'] resolves via /etc/hosts (127.0.1.1 <hostname> on
   Debian/Ubuntu) -- unreachable by peers. Query the interface directly. #}
{%- set node_ip = salt['network.interface_ip']('eth0') %}
cluster_addr  = "http://{{ node_ip }}:8201"
api_addr      = "http://{{ node_ip }}:8200"
disable_mlock = true

# Registers this Vault node in Consul's service catalog via the local
# Consul client agent (consul.client state) -- talks to it over loopback,
# not the Consul server cluster directly.
service_registration "consul" {
  address = "127.0.0.1:8500"
}
